<h1>Weather data search</h1>

<div class="search-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Search for a city to get started</mat-card-title>
    </mat-card-header>
    <mat-card-content class="search-content">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit($event)">
        <div class="row">
          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>City name</mat-label>
            <input matInput placeholder="Baltimore" formControlName="search" class="search-input">
          </mat-form-field>

          <div *ngIf="search?.invalid && (search?.dirty || search?.touched)"
               class="alert col-md-4">

            <div *ngIf="search?.errors?.['required']">
              <mat-error>Search input is required.</mat-error>
            </div>

            <div *ngIf="search?.errors?.['minlength']">
              <mat-error>Search input be at least 3 characters long.</mat-error>
            </div>

          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" class="submit-btn col-md-1"
                  [disabled]="isSearching || searchForm.invalid">Search
          </button>
        </mat-card-actions>
      </form>

      <div *ngIf="this.isSearching">
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>

      <mat-error *ngIf="this.error">{{this.error}}</mat-error>

      <mat-card-footer *ngIf="this.locationData">
        <h4 class=".mat-body-strong">City: {{ this.locationData.locationName }}, {{ this.locationData.countryName }}
          ({{ this.locationData.timeZoneName }})</h4>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngFor="let wrapper of dataSourceWrappers" class="weather-card">
  <mat-card-header>
    <mat-card-title>{{ wrapper.Date | date:'MM/dd' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="wrapper.dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="hour">
        <th mat-header-cell *matHeaderCellDef> Hour</th>
        <td mat-cell *matCellDef="let element"> {{ element.hour | timeSpan }} </td>
      </ng-container>

      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature</th>
        <td mat-cell
            *matCellDef="let element"> {{ element.temperature }}{{ this.locationData?.temperatureUnit }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
